<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO LIST</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>


    <div id="app">
        <form @submit.prevent="addTodo">
            <h1>Todo App</h1>
            <input type="text" v-model="NewTodo">
            <button type="submit">Add</button>
        </form>
        <ul>
            <li v-for="(todo, index) in todoList">
                {{ todo }}
                <button v-on:click="remove(index)">remove</button>
            </li>
        </ul>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                NewTodo: '',
                todoList: []
            },
            methods: {
                addTodo() {
                    this.todoList.push(this.NewTodo);
                    this.NewTodo = "";
                },
                remove(index) {
                    this.todoList.splice(index, 1);
                }
            }
        });
    </script>
</body>

</html>